page-classify {
    ion-title {
        text-align: center !important;
        line-height: 36px;
        .toolbar-title {
            font-size: 16px !important;
        }
    }
    .headers {
        height: 36px;
        width: 36px;
        float: left;
        margin-left: 10px;
        border-radius: 99999px;
    }
    ion-content {
        background: #f7f7f7 !important;
        .classifys {
            width: 33.3%;
            float: left;
            text-align: center;
            .classimg {
                width: 8rem;
                height: 8rem;
                border-radius: 99999px;
                margin: 2rem auto 1rem;
                background-size: cover !important;
                background-position: center center !important;
            }
        }
    }
}