page-comics-data {
    ion-content {
        #ikmiclass {
            display: none;
        }
        background: #f7f7f7 !important;
        .bar {
            width: 100%;
            display: block;
            height: 2rem;
            clear: both;
            overflow: hidden;
        }
        .wrap {
            width: 92%;
            padding-top: 0.9rem;
            margin: 0 auto;
            overflow: hidden;
            border-top: 1px solid #dadada;
            .title {
                display: block;
                width: 90%;
                border-left: 5px solid #ff7329;
                text-indent: 14px;
                margin: 1.2rem 0 !important;
                overflow: hidden;
                clear: both;
            }
            .mh {
                width: 32.3%;
                float: left;
                margin-bottom: 0.8rem;
                background: #fff;
                .mh-img {
                    width: 100%;
                    height: 13.5rem;
                    background-size: cover !important;
                    background-position: center center !important;
                }
                p {
                    width: 92%;
                    display: block;
                    line-height: 2rem;
                    margin: 0 auto;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                span {
                    margin: 0 auto 0.3rem;
                    width: 92%;
                    display: block;
                    font-size: 1rem;
                    color: #7d7d7d;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            .mh:nth-of-type(3n-1) {
                margin: 0 1.5%;
            }
        }
    }
}