page-regist {
    ion-content {
        background: #f7f7f7 !important;
        ion-list {
            background: #fff !important;
        }
        button {
            width: 90% !important;
            margin: 0 auto !important;
        }
    }
}