page-see {
    ion-content {
        background-image: url('../assets/img/loading.gif') !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }
}