<ion-header no-border (tap)="tapEvent($event)">

    <ion-navbar color="hebar">
        <ion-title>{{name}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <section class="comics-top">
        <div class="comics-top-bar">
            <h2 class="fr grade">{{cod}}</h2>
        </div>
        <img [src]="banner" />
        <div class="basics">
            <p class="title">{{name}}</p>
            <p>更新至{{len}}</p>
            <p>更新于{{uptime}}</p>
            <div class="btm">
                <div class="btms coll" [hidden]="!iscollect" (click)="uncollect();">不收藏</div>
                <div class="btms coll" [hidden]="iscollect" (click)="collect();">收藏</div>
                <div class="btms read" [hidden]="isrecord" (click)="openpage(data['pages'][data['pages'].length-1]['ihref']);">开始阅读</div>
                <div class="btms read" [hidden]="!isrecord" (click)="openpage(recordurl);">继续阅读</div>
            </div>
        </div>

    </section>
    <div class="wrap">
        <p class="dec">{{dec}}</p>

        <div class="tag-wrap">
            <span class="tag" *ngFor="let ic of iclass">{{ic}}</span>
        </div>
    </div>

    <div class="wrap">

        <div class="piece-title">
            <p class="fl">连载(话)</p>
            <p class="fr">{{uptime}}</p>
        </div>

        <div class="piece" *ngFor="let item of data['pages']; let i=index" (click)="openpage(item.ihref);">
            <span *ngIf="item.ihref == recordurl" class="repiece">{{item.ititle}}</span>
            <span *ngIf="item.ihref != recordurl">{{item.ititle}}</span>
        </div>

    </div>
    <!--<iframe id="ikmfs" src="http://m.57mh.com/"></iframe>-->
</ion-content>